---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/120
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<THEMOVIEDB_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - c08d8c0e8db4f65ba68fda321b06ca46
      X-Memc-Age:
      - '4853'
      X-Memc-Expires:
      - '20943'
      Etag:
      - W/"21dcecdea3324f9b5b0e28644c35578c"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/x2RS3uTcsJJ9IfjNPcgDmukoEcQ.jpg","belongs_to_collection":{"id":119,"name":"The
        Lord of the Rings Collection","poster_path":"/qMPLMnGirZpl7LKliFU1iNIrrDo.jpg","backdrop_path":"/bccR2CGTWVVSZAG0yqmy3DIvhTX.jpg"},"budget":93000000,"genres":[{"id":12,"name":"Adventure"},{"id":14,"name":"Fantasy"},{"id":28,"name":"Action"}],"homepage":"http://www.lordoftherings.net/","id":120,"imdb_id":"tt0120737","origin_country":["US"],"original_language":"en","original_title":"The
        Lord of the Rings: The Fellowship of the Ring","overview":"Young hobbit Frodo
        Baggins, after inheriting a mysterious ring from his uncle Bilbo, must leave
        his home in order to keep it from falling into the hands of its evil creator.
        Along the way, a fellowship is formed to protect the ringbearer and make sure
        that the ring arrives at its final destination: Mt. Doom, the only place where
        it can be destroyed.","popularity":177.07,"poster_path":"/6oom5QYQ2yQTMJIbnvbkBL9cHo6.jpg","production_companies":[{"id":12,"logo_path":"/2ycs64eqV5rqKYHyQK0GVoKGvfX.png","name":"New
        Line Cinema","origin_country":"US"},{"id":11,"logo_path":"/6FAuASQHybRkZUk08p9PzSs9ezM.png","name":"WingNut
        Films","origin_country":"NZ"},{"id":5237,"logo_path":"/mlnr7vsBHvLye8oEb5A76C0t8x9.png","name":"The
        Saul Zaentz Company","origin_country":"US"}],"production_countries":[{"iso_3166_1":"NZ","name":"New
        Zealand"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2001-12-18","revenue":871368364,"runtime":179,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"One
        ring to rule them all.","title":"The Lord of the Rings: The Fellowship of
        the Ring","video":false,"vote_average":8.4,"vote_count":25570}'
  recorded_at: Mon, 10 Feb 2025 19:19:49 GMT
[...]
